In [1]:
import pandas as pd
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# pass in column names for each CSV as the column name is not given in the file and read them using pandas.
# You can check the column names from the readme file

#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

In [3]:
# users

print(users.shape)
users.head()

(943, 5)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [4]:
# ratings

print(ratings.shape)
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [5]:
# items

print(items.shape)
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
# train test data
# test data has 10 ratings for each user, i.e. 9,430 rows in total

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

# Building collaborative filtering model from scratch

In [7]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

n_users, n_items

(943, 1682)

In [32]:
# from ratings df to matrix
# matrix of user_id vs movie_id (initially startes from 1, minus 1 to be 0)


data_matrix = np.zeros((n_users, n_items))
# print(data_matrix)

for line in ratings.itertuples():
#     print(data_matrix[line[1]-1, line[2]-1], end='')
    data_matrix[line[1]-1, line[2]-1] = line[3]
#     print(' -> ' + str(data_matrix[line[1]-1, line[2]-1]))


data_matrix

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [28]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

user_similarity, item_similarity

(array([[0.        , 0.83306902, 0.95254046, ..., 0.85138306, 0.82049212,
         0.60182526],
        [0.83306902, 0.        , 0.88940868, ..., 0.83851522, 0.82773219,
         0.89420212],
        [0.95254046, 0.88940868, 0.        , ..., 0.89875744, 0.86658385,
         0.97344413],
        ...,
        [0.85138306, 0.83851522, 0.89875744, ..., 0.        , 0.8983582 ,
         0.90488042],
        [0.82049212, 0.82773219, 0.86658385, ..., 0.8983582 , 0.        ,
         0.81753534],
        [0.60182526, 0.89420212, 0.97344413, ..., 0.90488042, 0.81753534,
         0.        ]]),
 array([[0.        , 0.59761782, 0.66975521, ..., 1.        , 0.95281693,
         0.95281693],
        [0.59761782, 0.        , 0.72693082, ..., 1.        , 0.92170064,
         0.92170064],
        [0.66975521, 0.72693082, 0.        , ..., 1.        , 1.        ,
         0.90312495],
        ...,
        [1.        , 1.        , 1.        , ..., 0.        , 1.        ,
         1.        ],
        [0.95281693, 0.92170064, 1.        , ..., 1.        , 0.        ,
         1.        ],
        [0.95281693, 0.92170064, 0.90312495, ..., 1.        , 1.        ,
         0.        ]]))

In [10]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [11]:
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

# Building a simple popularity and collaborative filtering model using Turicreate

In [12]:
import turicreate
train_data = turicreate.SFrame(ratings_train)
test_data = turicreate.SFrame(ratings_test)

/home/hectoryee/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

## Popularity Model

In [13]:
popularity_model = turicreate.popularity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.087647s

90570 observations to process; with 1680 unique items.

In [14]:
popularity_recomm = popularity_model.recommend(users=[1,2,3,4,5],k=5)
popularity_recomm.print_rows(num_rows=25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

## Item similarity model

In [15]:
#Training the model
item_sim_model = turicreate.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating', similarity_type='cosine')

#Making recommendations
item_sim_recomm = item_sim_model.recommend(users=[1,2,3,4,5],k=5)
item_sim_recomm.print_rows(num_rows=25)

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.07152s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 15.53ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 29.053ms                            | 0                | 0               |

| 203.173ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.21793s

+---------+----------+--------------------+------+
| user_id | movie_id |       score        | rank |
+---------+----------+--------------------+------+
|    1    |   423    | 0.982942669901229  |  1   |
|    1    |   202    | 0.9614982284207381 |  2   |
|    1    |   655    | 0.8147707440470922 |  3   |
|    1    |   403    | 0.7692543058904983 |  4   |
|    1    |   568    | 0.7568556511675129 |  5   |
|    2    |    50    | 1.1256258487701416 |  1   |
|    2    |   181    | 1.0320649284582872 |  2   |
|    2    |   121    | 0.8881093974296863 |  3   |
|    2    |    9     | 0.8518216059758112 |  4   |
|    2    |   117    | 0.7926051295720614 |  5   |
|    3    |   313    | 0.6353766620159149 |  1   |
|    3    |   328    | 0.6032880300825293 |  2   |
|    3    |   315    | 0.5422587123784152 |  3   |
|    3    |   331    | 0.5355071858926252 |  4   |
|    3    |   332    | 0.5316696112806146 |  5   |
|    4    |    50    | 1.1311477082116264 |  1   |
|    4    |   288    | 1.0487151145935059 |  2   |
|    4    |   181    | 0.9505999386310577 |  3   |
|    4    |   302    | 0.9139021464756557 |  4   |
|    4    |   121    | 0.8993381602423531 |  5   |
|    5    |   195    | 1.0106911612279488 |  1   |
|    5    |   202    | 0.9353599468866984 |  2   |
|    5    |    56    | 0.8479394096316714 |  3   |
|    5    |    82    | 0.7547974543137984 |  4   |
|    5    |   568    | 0.721097964590246  |  5   |
+---------+----------+--------------------+------+
[25 rows x 4 columns]

# Introduction to matrix factorization

In [16]:
class MF():

    # Initializing the user-movie rating matrix, no. of latent features, alpha and beta.
    def __init__(self, R, K, alpha, beta, iterations):
        self.R = R
        self.num_users, self.num_items = R.shape
        self.K = K
        self.alpha = alpha
        self.beta = beta
        self.iterations = iterations

    # Initializing user-feature and movie-feature matrix 
    def train(self):
        self.P = np.random.normal(scale=1./self.K, size=(self.num_users, self.K))
        self.Q = np.random.normal(scale=1./self.K, size=(self.num_items, self.K))

        # Initializing the bias terms
        self.b_u = np.zeros(self.num_users)
        self.b_i = np.zeros(self.num_items)
        self.b = np.mean(self.R[np.where(self.R != 0)])

        # List of training samples
        self.samples = [
        (i, j, self.R[i, j])
        for i in range(self.num_users)
        for j in range(self.num_items)
        if self.R[i, j] > 0
        ]

        # Stochastic gradient descent for given number of iterations
        training_process = []
        for i in range(self.iterations):
            np.random.shuffle(self.samples)
            self.sgd()
            mse = self.mse()
            training_process.append((i, mse))
            if (i+1) % 20 == 0:
                print("Iteration: %d ; error = %.4f" % (i+1, mse))

        return training_process

    # Computing total mean squared error
    def mse(self):
        xs, ys = self.R.nonzero()
        predicted = self.full_matrix()
        error = 0
        for x, y in zip(xs, ys):
            error += pow(self.R[x, y] - predicted[x, y], 2)
        return np.sqrt(error)

    # Stochastic gradient descent to get optimized P and Q matrix
    def sgd(self):
        for i, j, r in self.samples:
            prediction = self.get_rating(i, j)
            e = (r - prediction)

            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])
            self.b_i[j] += self.alpha * (e - self.beta * self.b_i[j])

            self.P[i, :] += self.alpha * (e * self.Q[j, :] - self.beta * self.P[i,:])
            self.Q[j, :] += self.alpha * (e * self.P[i, :] - self.beta * self.Q[j,:])

    # Ratings for user i and moive j
    def get_rating(self, i, j):
        prediction = self.b + self.b_u[i] + self.b_i[j] + self.P[i, :].dot(self.Q[j, :].T)
        return prediction

    # Full user-movie rating matrix
    def full_matrix(self):
        return mf.b + mf.b_u[:,np.newaxis] + mf.b_i[np.newaxis:,] + mf.P.dot(mf.Q.T)

In [17]:
R= np.array(ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0))
R

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [18]:
mf = MF(R, K=20, alpha=0.001, beta=0.01, iterations=100)
training_process = mf.train()
print()
print("P x Q:")
print(mf.full_matrix())
print()

Iteration: 20 ; error = 296.1325
Iteration: 40 ; error = 291.0519
Iteration: 60 ; error = 287.5909
Iteration: 80 ; error = 281.9718
Iteration: 100 ; error = 272.2906

P x Q:
[[4.00535256 3.31045488 3.11636917 ... 3.2950946  3.44166147 3.43675989]
 [3.86031422 3.34903982 3.11688533 ... 3.4284075  3.50678982 3.45245481]
 [3.29250521 2.76686158 2.60176068 ... 2.81387102 2.9256262  2.90871593]
 ...
 [4.24605528 3.66141448 3.41758339 ... 3.61939492 3.77085881 3.74927036]
 [4.38748825 3.78136557 3.58499026 ... 3.75360623 3.90545625 3.87042259]
 [3.88444563 3.29522711 2.93870566 ... 3.30281914 3.41371739 3.33833404]]

In [19]:
np.linalg.svd(R)

(array([[-6.58043056e-02, -5.97506439e-03,  6.13255533e-03, ...,
          1.02599859e-03, -3.98164955e-03,  9.01590568e-04],
        [-1.40210432e-02,  4.66260235e-02, -5.25785570e-02, ...,
          1.08597866e-02, -2.04456480e-03, -1.27743484e-03],
        [-5.65798108e-03,  2.56184475e-02, -2.33618292e-02, ...,
          5.16234564e-03,  1.34125699e-02,  1.37991290e-03],
        ...,
        [-7.44452122e-03,  2.50212869e-02, -6.16532475e-03, ...,
          2.63658734e-02,  3.18613301e-03,  6.76975924e-03],
        [-2.40311860e-02, -8.09611360e-03, -2.28873569e-02, ...,
         -4.44753529e-03, -2.58792477e-03, -5.73382835e-03],
        [-4.22420915e-02,  1.09271486e-02,  5.85460445e-02, ...,
          6.50642742e-04, -4.15913263e-03, -6.67710004e-05]]),
 array([640.63362257, 244.83634567, 217.84622472, 159.15359872,
        158.21191449, 145.87261327, 126.57977314, 121.90769976,
        106.8291837 ,  99.74793974,  93.79885965,  93.25844284,
         89.91150168,  84.34178722,  83.81220836,  81.81204105,
         79.07796788,  77.88652669,  76.387996  ,  75.3415951 ,
         73.68235502,  72.80837191,  72.51350545,  71.52749477,
         69.77179735,  69.10881715,  68.8735702 ,  67.94277928,
         67.40829434,  67.06352378,  66.85757418,  65.59270059,
         65.27526042,  64.79965625,  64.44727664,  64.09819141,
         63.91638042,  63.08261122,  62.67586971,  62.23742793,
         62.03574728,  61.77291401,  61.33544177,  61.0632462 ,
         60.56817026,  60.30813928,  59.77166759,  59.51420996,
         59.40675   ,  59.10683763,  58.83667955,  58.53445585,
         58.33802154,  58.1323194 ,  57.41759146,  57.36384311,
         57.30977341,  56.99448748,  56.72636608,  56.239748  ,
         56.17894513,  55.8734678 ,  55.65459359,  55.52806678,
         55.43375993,  55.27561765,  55.14548051,  54.98490817,
         54.63212706,  54.45193672,  54.29005995,  54.01215018,
         53.67085648,  53.43798888,  53.28922052,  53.14066852,
         53.10828717,  52.47629267,  52.36454294,  52.12939421,
         52.03388143,  51.884001  ,  51.77919228,  51.51949717,
         51.49442535,  51.2088558 ,  50.98724031,  50.94523431,
         50.60038346,  50.56218444,  50.38096012,  50.24905972,
         50.0075852 ,  49.98820164,  49.58184826,  49.46698101,
         49.37750227,  49.26905278,  49.05980651,  48.95598046,
         48.73864248,  48.58766248,  48.47973017,  48.37741946,
         48.15394586,  48.0677836 ,  47.75996437,  47.46285726,
         47.29469417,  47.16545339,  47.0120192 ,  46.92778602,
         46.81663127,  46.80792506,  46.57054499,  46.36360148,
         46.234346  ,  46.06920463,  45.94993855,  45.8465522 ,
         45.64930074,  45.58376568,  45.51449116,  45.23500555,
         45.193367  ,  45.0259966 ,  44.81923737,  44.61901625,
         44.55266828,  44.26345327,  44.2281026 ,  44.12002977,
         44.04185395,  43.92249088,  43.70643086,  43.46264155,
         43.41113197,  43.30866294,  43.18333029,  42.90679285,
         42.81874398,  42.76083728,  42.67214215,  42.66639065,
         42.42004077,  42.21347424,  42.17252098,  42.01444026,
         41.92915185,  41.75732136,  41.54243564,  41.38737569,
         41.24503863,  41.14118681,  41.06222267,  40.93112231,
         40.79431012,  40.68728985,  40.62458749,  40.5355834 ,
         40.46789029,  40.43495829,  40.18134408,  39.96144252,
         39.88603128,  39.85469744,  39.71629242,  39.61350954,
         39.55844111,  39.45059058,  39.36901842,  39.29731992,
         39.08049644,  39.00068725,  38.87717922,  38.76443542,
         38.69300514,  38.49197454,  38.29875302,  38.2295438 ,
         38.20200371,  38.04062639,  37.98567822,  37.79639662,
         37.69119613,  37.65912518,  37.43412368,  37.37183267,
         37.24695778,  37.17562544,  37.06973321,  36.99579956,
         36.86176606,  36.60418275,  36.54482124,  36.51069682,
         36.37602783,  36.28942284,  36.19896141,  36.14966514,
         36.0195911 ,  35.86685331,  35.80047839,  35.58582071,
         35.50131745,  35.39966081,  35.31413996,  35.16297395,
         35.12206623,  35.0293682 ,  34.92618879,  34.83645218,
         34.74870882,  34.56715182,  34.46826839,  34.35656323,
         34.31454169,  34.19188309,  34.13745828,  33.97983923,
         33.95032005,  33.85504342,  33.80476488,  33.65091156,
         33.56782848,  33.47451244,  33.45777751,  33.23104015,
         33.21632163,  33.10805589,  32.96652158,  32.90277383,
         32.80222349,  32.73727372,  32.61340972,  32.47209522,
         32.36199179,  32.27083184,  32.23208823,  32.04741273,
         32.0133226 ,  31.98127519,  31.84249138,  31.75346623,
         31.69558397,  31.55158681,  31.54264271,  31.46544043,
         31.40719933,  31.34838912,  31.22501826,  31.17479956,
         31.07462435,  30.98626538,  30.85258282,  30.76819776,
         30.66966849,  30.55534584,  30.39521622,  30.2688682 ,
         30.20379674,  30.17789017,  30.06179315,  30.02649963,
         29.89115458,  29.75911854,  29.6886983 ,  29.65205276,
         29.57363261,  29.48550453,  29.35508324,  29.29344585,
         29.26102237,  29.18103918,  29.11116115,  29.07166993,
         28.88168442,  28.78836405,  28.69938278,  28.65925383,
         28.5801334 ,  28.50233475,  28.4316208 ,  28.3988056 ,
         28.344289  ,  28.27129924,  28.1649344 ,  28.02891204,
         28.01098356,  27.95214859,  27.89063118,  27.81887974,
         27.70486323,  27.56984489,  27.52363189,  27.45327435,
         27.37554002,  27.3033821 ,  27.17403396,  27.10273202,
         27.00351207,  26.98164029,  26.92812578,  26.86380024,
         26.77542871,  26.64330871,  26.57986122,  26.50312147,
         26.47835341,  26.35955465,  26.24273897,  26.15220939,
         26.13877889,  26.03958905,  26.02487809,  25.93100402,
         25.76975955,  25.72008748,  25.66619331,  25.6292937 ,
         25.56815546,  25.50158477,  25.43270457,  25.36179459,
         25.32228233,  25.23580855,  25.12135952,  25.1056309 ,
         25.00201524,  24.93082741,  24.83440959,  24.76067427,
         24.73382195,  24.6978669 ,  24.61220857,  24.52805568,
         24.40259869,  24.39965581,  24.31619207,  24.26077745,
         24.18077999,  24.0585164 ,  23.98990561,  23.90601653,
         23.82330558,  23.70670897,  23.63499915,  23.6215132 ,
         23.59127136,  23.52760133,  23.44137806,  23.34885949,
         23.33543148,  23.30024708,  23.03966393,  23.02943565,
         22.9270182 ,  22.85919275,  22.79688968,  22.74934687,
         22.71438322,  22.61995127,  22.50427919,  22.4771171 ,
         22.37418403,  22.32768453,  22.2882165 ,  22.25214867,
         22.15458253,  22.11327024,  22.04404498,  21.98279668,
         21.92253644,  21.88286638,  21.8369471 ,  21.78476503,
         21.70157589,  21.66688169,  21.62530961,  21.54671051,
         21.47471899,  21.45995354,  21.3574747 ,  21.31930341,
         21.28288332,  21.1534938 ,  21.07919245,  20.98916565,
         20.88067829,  20.86933066,  20.84765644,  20.77968297,
         20.67176574,  20.65578476,  20.53239359,  20.52229107,
         20.46295286,  20.41326411,  20.33463683,  20.31845764,
         20.27251436,  20.23914453,  20.15418308,  20.13252009,
         20.09639476,  19.98420326,  19.87298541,  19.77444919,
         19.70423555,  19.66704358,  19.60671988,  19.57072558,
         19.48150266,  19.38155654,  19.35389799,  19.32624938,
         19.24795385,  19.20707002,  19.17007176,  19.09990764,
         19.02555515,  18.99090884,  18.92883588,  18.81955628,
         18.79751037,  18.68930651,  18.68168412,  18.62207406,
         18.60707755,  18.53081987,  18.48142791,  18.40153196,
         18.3759208 ,  18.28097434,  18.24743013,  18.19237089,
         18.11506235,  18.0713151 ,  18.04004017,  17.97201602,
         17.95519182,  17.90530999,  17.78028665,  17.74371018,
         17.6975917 ,  17.67567436,  17.55622578,  17.52540725,
         17.49858849,  17.41722362,  17.38678014,  17.34732082,
         17.30884289,  17.20860744,  17.13137276,  17.09651829,
         17.04971158,  16.99118145,  16.90715879,  16.862245  ,
         16.83821165,  16.79944184,  16.75527582,  16.60222236,
         16.54542696,  16.51929856,  16.4646038 ,  16.41280177,
         16.40337658,  16.37704249,  16.33078663,  16.24018259,
         16.1766756 ,  16.13122294,  16.10951764,  16.07942618,
         16.03558775,  15.97855526,  15.9152821 ,  15.8106088 ,
         15.77336181,  15.70581554,  15.64723532,  15.58440838,
         15.53062708,  15.47634288,  15.45301649,  15.4312888 ,
         15.38459866,  15.31037067,  15.27331351,  15.18151071,
         15.12444688,  15.0826597 ,  15.05415634,  14.99710088,
         14.98173092,  14.9156725 ,  14.86453957,  14.82995205,
         14.78325573,  14.7542097 ,  14.69077292,  14.61499973,
         14.56200866,  14.5261495 ,  14.49477307,  14.44885764,
         14.42724676,  14.35027015,  14.32785283,  14.23565589,
         14.1734592 ,  14.1523191 ,  14.10109203,  14.0352469 ,
         14.01240149,  13.97610344,  13.94327278,  13.83312619,
         13.80523574,  13.76914278,  13.73622543,  13.72520747,
         13.6778234 ,  13.64516568,  13.6324305 ,  13.61330052,
         13.52467646,  13.46156414,  13.44267289,  13.35373266,
         13.32954467,  13.28907317,  13.25544377,  13.21288195,
         13.14829722,  13.11538284,  13.10415296,  13.01925887,
         12.97221323,  12.96785075,  12.89642468,  12.89235811,
         12.83455033,  12.79935965,  12.7849174 ,  12.7001312 ,
         12.64766434,  12.62783576,  12.59217858,  12.5475591 ,
         12.49931942,  12.46842444,  12.42397512,  12.33332806,
         12.27342037,  12.22297963,  12.18377976,  12.16545164,
         12.10722395,  12.07435054,  12.03258627,  12.01754505,
         11.95474061,  11.94871451,  11.87645049,  11.82918562,
         11.78577651,  11.73681992,  11.70520928,  11.66799218,
         11.62651068,  11.58390668,  11.5512949 ,  11.52855496,
         11.48795016,  11.42283547,  11.39278949,  11.34131314,
         11.28863543,  11.26352126,  11.25880429,  11.21444931,
         11.2011526 ,  11.12372409,  11.08996433,  11.04477724,
         11.00743455,  10.92782421,  10.90717589,  10.88528109,
         10.8706319 ,  10.85681944,  10.7919458 ,  10.76927401,
         10.71043457,  10.6530698 ,  10.6008484 ,  10.56865572,
         10.53258924,  10.49546881,  10.46325965,  10.43479017,
         10.38294418,  10.36288254,  10.27152662,  10.26078401,
         10.22418064,  10.18826735,  10.12308862,  10.10712382,
         10.06194126,  10.01186393,   9.98868206,   9.95420166,
          9.91228992,   9.84477011,   9.81995584,   9.80042093,
          9.7678743 ,   9.72912037,   9.7109112 ,   9.6894431 ,
          9.64686678,   9.60793385,   9.55314373,   9.52706158,
          9.50323455,   9.47117983,   9.42642816,   9.3958873 ,
          9.37755211,   9.35141853,   9.32687469,   9.27516368,
          9.21228723,   9.16752748,   9.11871439,   9.08209861,
          9.05083607,   9.04419113,   9.03648025,   8.96472182,
          8.9451665 ,   8.89627362,   8.8465928 ,   8.83597914,
          8.80877497,   8.79629629,   8.73425292,   8.71182058,
          8.69156896,   8.66477814,   8.60364663,   8.58669193,
          8.54565558,   8.51520326,   8.47514798,   8.44810183,
          8.40872248,   8.39244842,   8.34770866,   8.32746287,
          8.26837366,   8.2536772 ,   8.23021381,   8.12219703,
          8.11494093,   8.08860437,   8.05039141,   8.00843856,
          7.97969271,   7.9622369 ,   7.93726349,   7.92232786,
          7.88673317,   7.87491666,   7.85855091,   7.79684975,
          7.76358778,   7.72886111,   7.69064952,   7.65115234,
          7.61855572,   7.59393727,   7.55820558,   7.54372452,
          7.48985596,   7.4675218 ,   7.43377422,   7.42733584,
          7.38268727,   7.36780234,   7.32650972,   7.29544176,
          7.25886699,   7.22192696,   7.21116707,   7.1807936 ,
          7.11503299,   7.10086267,   7.06611818,   7.04883266,
          7.01860772,   6.98237541,   6.9326794 ,   6.90823998,
          6.90400323,   6.872771  ,   6.83233792,   6.79895087,
          6.7944757 ,   6.73480701,   6.70054513,   6.67829063,
          6.62943322,   6.61051769,   6.60052308,   6.56700465,
          6.51842375,   6.48117696,   6.47164604,   6.44425732,
          6.42000882,   6.38263359,   6.36064219,   6.32672688,
          6.30451695,   6.2802997 ,   6.24170573,   6.20719962,
          6.19023877,   6.15491248,   6.12650671,   6.09351614,
          6.08332865,   6.06389367,   6.01019187,   5.99091426,
          5.96198456,   5.92971232,   5.91181656,   5.88986406,
          5.8463649 ,   5.81779498,   5.77827746,   5.76164747,
          5.74401653,   5.70927495,   5.68532839,   5.62334668,
          5.59941366,   5.57493017,   5.53941078,   5.52851711,
          5.48667774,   5.46782763,   5.46098643,   5.39736922,
          5.38261573,   5.36704761,   5.3322667 ,   5.32089731,
          5.29411155,   5.25816501,   5.2547038 ,   5.23071993,
          5.18748254,   5.17256996,   5.15791865,   5.11604355,
          5.09269549,   5.05016223,   5.04174242,   4.98752207,
          4.9804114 ,   4.95304219,   4.92494411,   4.91033031,
          4.89295092,   4.84955134,   4.81704457,   4.80535376,
          4.73437259,   4.69988149,   4.68779782,   4.66027444,
          4.62913327,   4.60608977,   4.5722872 ,   4.55812082,
          4.52849415,   4.51723033,   4.47402246,   4.45706735,
          4.43296618,   4.41437253,   4.3984772 ,   4.36594992,
          4.3461467 ,   4.33888881,   4.3056975 ,   4.27612408,
          4.22752605,   4.21534325,   4.18187564,   4.17044828,
          4.16733753,   4.14762932,   4.10234642,   4.0868044 ,
          4.06784633,   4.03770873,   4.0084511 ,   3.99530346,
          3.95590235,   3.94799567,   3.913507  ,   3.89508172,
          3.84796136,   3.81711584,   3.80175875,   3.79247101,
          3.76946523,   3.71833567,   3.70628057,   3.68817213,
          3.65667646,   3.65041226,   3.62914385,   3.60200786,
          3.56389836,   3.54389058,   3.51866713,   3.51627279,
          3.46724629,   3.45752153,   3.42124222,   3.39344527,
          3.38031721,   3.34030542,   3.32082434,   3.28237114,
          3.27547053,   3.25137944,   3.2321726 ,   3.18963242,
          3.16481942,   3.14737113,   3.12312601,   3.10925751,
          3.07464151,   3.03614492,   3.01292511,   2.99359467,
          2.96383899,   2.9527102 ,   2.92814247,   2.88215557,
          2.86140902,   2.82427312,   2.81934758,   2.77750731,
          2.75334782,   2.74440535,   2.71854548,   2.68738248,
          2.68620807,   2.64773446,   2.63669405,   2.62002126,
          2.61131848,   2.57567591,   2.53721214,   2.52114155,
          2.49621721,   2.47923939,   2.43157626,   2.40399837,
          2.3942159 ,   2.35576584,   2.3328496 ,   2.31571249,
          2.26544737,   2.23579465,   2.22273817,   2.19933501,
          2.17247762,   2.16119531,   2.11011654,   2.08333971,
          2.08155444,   2.03648725,   2.02695529,   1.99558883,
          1.97431524,   1.95526271,   1.93211005,   1.91665931,
          1.88027067,   1.85863356,   1.8454929 ,   1.81585853,
          1.79188109,   1.74107904,   1.72824695,   1.71045537,
          1.67605775,   1.64964272,   1.63014779,   1.62701515,
          1.58705058,   1.55906887,   1.55587662,   1.51564512,
          1.49884162,   1.44124934,   1.42975996,   1.40641277,
          1.36103093,   1.33288669,   1.31923963,   1.27959234,
          1.23912968,   1.18889095,   1.15338802,   1.14498161,
          1.11800052,   1.06349533,   1.02581757,   1.00230271,
          0.96854526,   0.93487067,   0.918968  ,   0.87172097,
          0.83973733,   0.80144319,   0.77809033,   0.75201176,
          0.69874606,   0.67513184,   0.64335756]),
 array([[-9.59509371e-02, -3.51795155e-02, -1.99288117e-02, ...,
         -3.03747116e-05, -3.31055915e-04, -3.16852950e-04],
        [ 8.72397853e-02,  7.02505798e-03,  2.86181725e-02, ...,
          4.48134760e-04, -1.05231342e-04, -2.03151884e-04],
        [ 1.69737618e-02,  6.25039193e-02,  1.16405039e-02, ...,
         -5.33024145e-04,  4.54336533e-04,  2.61400068e-04],
        ...,
        [ 2.72885655e-03, -8.19386209e-03, -7.70133292e-05, ...,
          9.19785188e-01, -7.31618476e-03, -2.23774659e-03],
        [-8.46022461e-04, -6.57498816e-03, -8.97946607e-04, ...,
         -1.04430008e-03,  9.69998444e-01, -2.18589712e-03],
        [ 5.95059771e-04,  3.60232319e-03,  5.90559090e-03, ...,
          2.38725918e-03,  1.54271832e-03,  9.69492668e-01]]))